	.nome{ 
		font-weight: bold;
		font-size: 20px;
		text-align: center; 
	}
	#devj{ 
		font-style: italic;
		font-size: 25px;
		text-align: center; 
	} 
	#nomees{ 
		font-size: 17px;
		text-align: center;

	} 
	#Body{ 
		background-color: blue;
		
	} 
	header{ 
		background-color: red;
	} 
	#logo{ 
		background-color: white;
	} 
	nav{ 
		display: flex;
		background-color: yellow;
		box-shadow: 7px 7px 9px 0px black;
	} 
	ul{ 
		justify-content: space-around;
	} 
	main{ 
		background-color: green;
	} 
	#ass{ 
		background-color: pink;
		justify-content: space-around;
		display: flex;
	} 
	#sex{ 
		background-color: purple;
		justify-content: space-around;
		display: flex;
	} 
	#art{ 
		background-color: orange;
		justify-content: space-around;
		display: flex;
	} 
	#art2{ 
		background-color: brown;
		justify-content: space-around;
		display: flex;
	} 
	#ass2{ 
		background-color: gray; 
		justify-content: space-around;
		display: flex;
	} 
	footer{ 
		background-color: maroon; 
		width: 100%; 
	}
