	.nome{ 
		font-weight: bold;
		font-size: 20px;
		text-align: center; 
	}

	.A{
		color: black;
		font-weight: bold;
		font-size: 20px;
		text-align: center; 
	}
	.A: hover{
		color: red;
		cursor: pointer;
	}
	#devj{ 
		font-style: italic;
		font-size: 25px;
		text-align: center; 
	} 
	#nomees{ 
		font-size: 17px;
		text-align: center;

	} 
	#Body{ 
		background-color: yellow;
		
	} 
	header{ 
		background-color: red;
		justify-content: center;
		align-items: center;
		text-align: center;
		pading: 2px;
	} 
	#logo{ 
		background-color: white;
	} 
	nav{ 
		display: flex;
		background-color: blue;
		color: black;
		box-shadow: 7px 7px 9px 0px black;
		font-weight: bold;
		font-size: 20px;
		text-align: center; 
		justify-content: center;
		pading: 2px;
	} 
	ul{ 
		justify-content: space-around;
		pading: 2px;
	} 
	main{ 
		background-color: pink;
		margin-top: 3%;
		display: flex;
		height: 60vh;
		width: 100%;
		pading: 2px;
	} 
	#ass{ 
		background-color: green;
		justify-content: space-around;
		display: flex;
		margin-top: 10px;
		width: 21%; 
		height: 90%;
		pading: 2px;
	} 
	#sex{ 
		background-color: orange;
		justify-content: space-around;
		display: flex;
		margin-top: 10px;
		margin-right: 10px;
		pading: 2px;
		width: 78%;
		height: 90%;
	} 
	#art{ 
		background-color: purple;
		justify-content: space-around;
		display: flex;
		margin: 20px 10px 10px 20px; 
		width: 97%;
		height: 45%;
		pading: 2px;
	} 
	#art2{ 
		background-color: maroon;
		justify-content: space-around;
		display: flex;
		margin: 10px 10px 10px 20px; 
		width: 97%;
		height: 45%;
		pading: 2px;
	}

	#ass2{ 
		background-color: gray; 
		justify-content: space-around;
		display: flex;
		margin-left: 69%;
		top: 150px;
		width: 30%;
		pading: 2px;
		height: 97%;
	} 
	footer{ 
		background-color: brown;
		width: 100%; 
	}
